*{ 
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
   }
   #wrapper{
    height:auto;
    background-color: white;
    margin: 0px auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 40%;
   }
#navigation{
    padding: 10px;
    margin: 20px;
    vertical-align: top;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    height: 80px;
    width: 740px;
    background-color: rgb(100 149 237);
    text-decoration:none;
   }

li {
    display:inline;
    text-decoration: none;
    color: white;
    margin: 10px;
    text-decoration:none;
}

h1 {
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-between;
    text-decoration:none;
  }
   
  a:link {
    text-decoration: none;
    color:white;
  }

